name: Deploy

on:
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/petab
    permissions:
      id-token: write

    steps:
    - name: Check out repository
      uses: actions/checkout@v6
    - name: Set up python
      uses: actions/setup-python@v6
      with:
        python-version: 3.11

    - name: Install dependencies / build sdist
      run: |
        python -m pip install --upgrade pip
        pip install setuptools wheel build
        python -m build -s

    - name: Publish a Python distribution to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
